/* Created by: Abdul
* Created on: March 2025
* This file contains the CSS for index.html
*/
body {
    background-color: rgb(238, 144, 164);
}

h1 {
    background-color: #61b0e5;
    color: hsl(0, 0%, 0%);
    padding: 40px;
    text-align: center;
}

p {
    background-color: #cfa487;
}